<% include partials/header %>

<div class="ui main text container segment" id="container">
    <div class="ui huge header" style="text-align: center;">Welcome To Naphta Oil!</div>
		<div class="ui raised segment" style="text-align: center;">
			<p >
				Naphtha Oil is a global energy and petrochemical company. We use advanced technologies and take an innovative approach through software to predict the best fuel rate for you.	
			</p> 	
			<p style="text-align: center;">
				Please Login or Register to get your best rate.
			</p>
		</div>
	<div class="ui container" style="text-align: center;">	
		<div class="ui animated basic black button" tabindex="0" >	
	    	<div class="visible content" style="text-align: center;">Login</div>
					<div class="hidden content">
						<a href="/login" id="landingbtn"><i class="right arrow icon"></i></a>
					</div>
		</div>	
		<div class="ui animated basic black button" tabindex="0" >	
	    	<div class="visible content" style="text-align: center;">Register</div>
				<div class="hidden content">
					<a href="/register" id="landingbtn"><i class="right arrow icon"></i></a>
				</div>
		</div>		
	</div>	
</div>

<% include partials/footer %>